body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center;     /* Центрирование по вертикали */
  height: 100vh;           /* Высота страницы на весь экран */
  margin: 0;               /* Убираем внутренние отступы */
}

.container {
  display: flex;
  justify-content: center;  
  align-items: center;      
  margin: 0;               
  padding: 20px;           
  background-color: #f8f9fa; 
  border-radius: 8px;     
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.triggerButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: relative; /* Добавляем позиционирование к кнопке */
}

.popover {
  z-index: 1000; /* Увеличим z-index для поповера */
}
